  :root {
    --background: #F3F3E9;
    --alt-background: #EDEDE7;
    --border: #4C4C4CAA;
    --primary: #57799e;
    --secondary: #BF7C83;
    --trietary: #7B80A2;
    --font: #4C4C4C;
    --xs-pad: .5em;
    --s-pad: 1em;
    --m-pad: 2em;
    --l-pad: 3em;
    --xl-pad: 4em;
    --fonts: 'Sofia Pro Light', 'Meiryo', 'sans-serif'; /* Change fonts here */
    --mascot: url('//nadyanay.me/img/mascot.png');      /* Add Mascot URL here */
  }

  /* BEG Uncomment next line for Noto Sans */
  /* @import url('https://fonts.googleapis.com/css?family=Noto+Sans'); */
  /* END */


  /* BEG Structure */
  html {
    background-color: var(--background);
    font-family: var(--fonts);
    font-size: 14px;
    line-height: 1.3;
    padding: 0;
    position: relative;
  }

  body {
    max-width: 70vw;
    margin: var(--m-pad) 0 0 5vw; /* Change to 0 auto for centered layout */
    color: var(--font);
  }

  /* Fake Side Area */
  body::after {
    position: fixed;
    width: 20vw;
    height: 100vh;
    top: 0;
    right: 0;
    display: block;
    content: '';
    z-index: -1;
    background-color: var(--alt-background);
    background-image: var(--mascot); /* Who needs Oneechan? */
    background-position: center 43%;
    background-repeat: no-repeat;
    background-size: 70%;
    border-left: solid 1px var(--border);
  }
  /* END Structure */

  /* BEG Quick Reply */
  #quickReply {
    width: calc(20vw - 2em) !important;
    padding: var(--s-pad) !important;
    top: auto !important;
    left: auto !important;
    right: 0 !important;
    bottom: 0 !important;
    background-color: var(--alt-background) !important;
  }

  #quickReply .drag {
    cursor: auto !important;
  }

  #qrHeader {
    text-align: left !important;
  }

  #quickReply input[type="text"], #quickReply textarea, #quickReply #recaptcha_response_field {
    background-color: var(--background) !important;
    width: 95% !important;
    padding: var(--xs-pad) !important;
    margin: .25em 0 !important;
  }

  #qrFile {
    min-width: 150px !important;
  }

  .extPanel {
    border: none !important;
    border-top: solid 1px var(--border) !important;
  }
  /* END Quick Reply */

  /* BEG Hide Things */
  .thread.post-hidden, .thread.post-hidden + hr, /* Hidden Posts should actually be hidden, not just collapsed */
  body:not(.is_thread) .thread:not(.tExpanded) .postContainer:not(:first-child):nth-last-child(n+4), /* Show's one less than what is added to n */
  .mobile,                     /* Mobile only stuff */
  .boardList,                  /* Board Navigation */
  #navtopright,                /* Settings */
  tr.rules,                    /* Board Posting Rules */
  #blotter,                    /* History */
  hr,                          /* HR not needed */
  .thread-stats,               /* Don't care for thread stats */
  .fileText,                   /* Don't care for file info */
  #postForm,                   /* Only reply with Quick Reply */
  #togglePostFormLink,         /* Only reply with Quick Reply */
  .sideArrows,                 /* Useless >>> post arrows */
  .postMenuBtn,                /* Who hides/reports posts? */
  .navLinks:not(.navLinksBot), /* Hide Return/Catalog/Top/Update but only at the top of a thread */
  #boardNavDesktopFoot,        /* Footer Navigation */
  .open-qr-wrap,               /* Click a post to QR the QR link */
  .pagelist .next,             /* Just click the next page */
  .absBotText,                 /* Footer copyright and disclaimer */
  #ctrl-top,                   /* Use footer to open catalog */
  .bottomCtrl                  /* Footer delete post/file, set styles */
  {
    display: none;
  }
  /* END Hide Things */

  /* BEG Board Banner */
  .boardBanner {
    margin-top: 1.5em;
    text-align: center;
    position: fixed; /* Position into the fake gutter area */
    top: 1em;
    right: calc(20vw - 345px);
  }

  .boardTitle {
    font-size: 1.5em;
    color: var(--primary);
  }
  /* END Board Banner */

  /* BEG Default Colors */
  a:not(.fileThumb), a:visited:not(.fileThumb) {
    color: var(--primary);
    transition: .35s ease 0s;
    text-decoration: none;
  }

  .yotsuba_b_new .backlink a {
    color: var(--primary) !important;
  }

  .yotsuba_b_new .backlink a:hover {
    color: var(--secondary) !important;
  }

  a.quotelink, a.quotelink:visited {
    color: var(--secondary) !important;
  }

  a:hover, a.quotelink:hover {
    color: var(--font);
  }

  .quote {
    color: var(--trietary);
    display: inline-block;
  }

  /* END Default Colors */

  /* BEG Thread */
  .thread .replyContainer, #quote-preview {
    padding: var(--s-pad);
    margin: .5em 0;
    background-color: var(--background);
    border: solid 1px var(--border);
  }

  .thread .replyContainer .reply.highlight-anti {
    background-color: var(--background) !important;
  }

  .postInfo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .postInfo > * {
    margin: 0 1em 0 0;
  }

  .thread:not(:first-of-type) {
    margin-top: var(--xl-pad);
  }

  .post.op {
    display: grid;
    grid-template-areas: "hide postInfo postInfo"
    "hide image content";
    justify-items: start;
    align-items: start;
    grid-template-columns: 20px 1fr 11fr;
  }

  .post.op span {
    grid-area: hide;
  }

  .post.op .file {
    grid-area: image;
    display: flex;
    flex-wrap: wrap;
    margin-left: 0 !important; /* Prevent it moving -3px when expanded */
  }

  .post.op .file img {
    border: solid 1px var(--border);
  }

  .post.op .file > * {
    flex: 100% 0 auto;
  }

  .post.op .postInfo {
    grid-area: postInfo;
    margin-bottom: var(--s-pad);
  }

  .post.op .postMessage {
    grid-area: content;
    width: 95%;
    padding-left: var(--s-pad);
  }

  .thread .replyContainer .reply, #quote-preview {
    display: grid;
    grid-template-areas: "info info"
    "reply image";
    justify-items: start;
    align-items: start;
    grid-template-columns: 11fr 1fr;
  }

  .thread .replyContainer .reply .postInfo, #quote-preview .postInfo {
    grid-area: info;
  }

  .thread .replyContainer .reply .file, #quote-preview .file {
    grid-area: image;
  }

  .thread .replyContainer .reply .file img, #quote-preview .file img {
    border: solid 1px var(--border);
  }

  .thread .replyContainer .reply .postMessage, #quote-preview .postMessage {
    grid-area: reply;
    width: 95%;
  }
  /* END Thread */

  /* BEG Footer */
  .navLinksBot {
    color: var(--background);
    display: flex;
    align-items: center;
    margin-top: var(--s-pad);
    margin-bottom: var(--l-pad);
  }

  .navLinksBot label {
    color: var(--dark-text);
  }

  .pagelist {
    display: flex;
    max-width: 50%;
    justify-content: space-between;
    align-items: center;
  }
  /* END Footer */

  /* BEG Catalog */
  .is_catalog #threads {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
  }

  .is_catalog #threads .thread {
    width: 18%;
    margin: 1.5em 2%;
    max-height: 10em;
    overflow-y: scroll;
    padding: var(--s-pad);
    border: solid 1px var(--border);
  }

  /* Thread Text */
  .is_catalog #threads .thread .teaser {
    font-size: .8em;
  }

  /* Thread Name */
  .is_catalog #threads .thread .teaser b {
    display: block;
  }

  /* Thread Image */
  .is_catalog #threads .thread a {
    float: right;
    padding-left: var(--s-pad);
    padding-bottom: var(--xs-pad);
    border-bottom: none;
  }

  .expanded-thumb {
    max-width: 45vw !important;
  }

  /* END Catalog */