/* reset */

body,
td,
table,
input,
textarea,
.pagetop,
* {
    font-family: "Sofia Pro";
    font-weight: 400;
}
body {
    background: #fffffa;
    margin: 0;
}
.pagetop,
.pagetop a {
    color: rgba(0, 0, 0, 0.5);
}
.brandname {
    display: none;
}
table {
    font-size: 14px;
}
#hnmain {
    background: transparent;
    width: 800px;
    color: #333 !important;
}
#hnmain .pagetop .topsel a {
    color: #FC9292;
    border-bottom: 1px solid #FC9292;
    padding-bottom: 2px;
}
#hnmain > tbody > tr:last-child img {
    display: none;
}
#hnmain > tbody > tr:last-child table td {
    background: transparent;
}
#hnmain > tbody > tr > td {
    background: transparent;
}
#hnmain > tbody > tr > td[bgcolor] > table {
    padding: 0 0 20px 0 !important;
}
#hnmain > tbody > tr > td[bgcolor] > table > tbody > tr > td {
    font-family: "Sofia Pro";
    font-weight: 400;
}
#hnmain > tbody > tr > td[bgcolor] > table tbody tr td:first-child a {
    background: #FC9292;
    color: #fff;
    height: 50px;
    line-height: 50px;
    width: 50px;
    display: block;
    text-align: center;
}
#hnmain > tbody > tr > td[bgcolor] > table tbody tr td:first-child a:after {
    content: "HN";
    font-weight: 700;
    font-family: "Sofia Pro";
}
#hnmain > tbody > tr > td[bgcolor] > table tbody tr td:first-child a img {
    display: none;
}
#hnmain > tbody > tr > td[bgcolor] > table tbody tr td:nth-child(2) .pagetop {
    color: #fffffa;
    padding-left: 10px;
    font-size: 14px;
}
#hnmain > tbody > tr > td[bgcolor] > table tbody tr td .pagetop {
    font-size: 14px;
}
#hnmain tr td:nth-child(2) .pagetop a:hover {
    border-bottom: 1px solid #FC9292;
    padding-bottom: 2px;
}
.spacer {
    display: none;
}
.title,
.sitebit,
.subtext {
    font-family: inherit;
    font-size: inherit;
    text-align: left;
    position: relative;
    width: auto;
}  
    
    .title {
        white-space: nowrap;
    }
    
    .votelinks {   position: absolute; }
    
.itemlist {
    width: 100%;
}

.votelinks a {
    display: block;
    position: relative;
    left: -4px;
    top: -2px;
}
.votearrow {
    background-image: none;
    margin: 0;
    width: 100%;
    margin-bottom: 10px;
}
.votearrow:after {
    content: "▲";
    display: inline-block;
    color: #666;
    text-align: center;
    width: 10px;
    height: 10px;
    line-height: 10px;
    font-size: 8px;
    padding: 2px;
    transition: all 0.15s;
}
.votearrow:hover:after {
    color: #FC9292;
    transform: scale(1.3);
}
.athing + tr .subtext {
    position: relative;
}
.athing + tr .subtext {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    padding-bottom: 16px;
}
.athing td {
    padding: 16px 0 4px;
}
.athing .title {
    width: 20px;
}
.athing .title a:link,
.athing .title a:visited {
    color: rgba(0, 0, 0, 0.9);
    font-size: 16px;
}
.athing .title .rank {
    text-align: center;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 100%;
    display: inline-block;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.05);
    font-weight: 700;
    font-size: 12px;
    color: #555;
    position: absolute;
    top: 16px;
    left: 0;
}
.athing .title .comhead {
    display: none;
}
.subtext {
    color: rgba(0, 0, 0, 0.5);
}
.subtext a:link,
.subtext a:visited {
    color: rgba(0, 0, 0, 0.5) !important;
}
.subtext a:hover {
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 2px;
}
.comment-tree .default .comhead {
    font-size: 12px !important;
    color: #333;
}
.comment-tree .comment {
    font-size: 12px !important;
    color: #333;
    line-height: 1.42em;
}
#hnmain table {
    width: 100%;
}
#hnmain form textarea {
    display: block;
    width: 100%;
    box-sizing: border-box;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.05);
    font-weight: 400;
    font-size: 14px;
    padding: 10px;
    outline: none;
}
#hnmain form input[type=submit] {
    border: solid 1px #FC9292;
    height: 32px;
    background: transparent;
    border-radius: 26px;
    padding: 0 12px;
    color: #FC9292;
    cursor: pointer;
    transition: 0.4s;
}
#hnmain form input[type=submit]:hover {
    background-color: #FC9292;
    color: #fff;
}
.itemlist tr:last-child .title {
    padding: 10px 0;
}
.itemlist tr:last-child .title a {
    border: solid 1px #FC9292;
    height: 32px;
    line-height: 32px;
    background: transparent;
    border-radius: 32px;
    padding: 0 12px;
    color: #FC9292;
    display: inline-block;
    transition: .4s;
}
.itemlist tr:last-child .title a:hover {
    background-color: #FC9292;
    color: #fff;
}
form[action='//hn.algolia.com/'] {
    position: fixed;
    bottom: 0;
    right: 10px;
    opacity: 0;
    transition: .6s;
}
form[action='//hn.algolia.com/']:hover {
    opacity: 1;
}
