/* Make URL Bar flush with edges with different background color and shorter */
#urlbar,
.searchbar-textbox {
  color: #3C3C3C !important;
  border: none !important;
  border-radius: none !important;
  box-shadow: none !important;
  background-color: #F4F4EB !important;
  margin: 0 !important;
  min-height: 22px !important;
  font-size: 1em !important;
}

/* Padding for URL in URL Bar */
.urlbar-input  {
  padding: 6px 5px 0px 0px !important;
}

/* TLS Certificate Information, Top Left */
#identity-box {
  height: 0;
  width: 0;
} 

#nav-bar:hover #identity-box {
  height: auto;
  width: auto;
}

/* Hide things but let them be clicked */
#PanelUI-button, /* Firefox Options Menu Icon, Top Right */
#nav-bar-overflow-button, /* Addon Overflow Menu */
#treestyletab_piro_sakura_ne_jp-browser-action /* Tree Style Tabs Icon */
{
  opacity: 0 !important;
  transition: .35s ease 0s !important;
}

#nav-bar:hover #PanelUI-button,
#nav-bar:hover #treestyletab_piro_sakura_ne_jp-browser-action
{
  opacity: 1 !important;
}

/* Change Tree Style Tab Background Color */
#sidebar-box, #tabbrowser-tabpanels {
  background-color: #F4F4EB !important;
}

#nav-bar {
  background-color: #F4F4EB !important;
  opacity: 1 !important;
  box-shadow: none !important;
}

/* Remove Page Action Buttons */
#page-action-buttons {
  display: none !important;
}

/* Hide Navigation Back/Forward Buttons */
#back-button, #forward-button {
  display: none !important;
}

/* Hide 3 dot Page Action icon */
.pageAction-panel-button > .toolbarbutton-icon {
  display: none !important;
}

/* Hide Security Lock Icon */
#connection-icon {
  display: none !important;
}

/* Hide the go arrow when typing in a URL. */
#go-button {
display:none !important;
}

.autocomplete-history-dropmarker {
display:none !important;
}
 
/* Hide reload, stop, and star buttons. */
#urlbar-reload-button { display: none !important; }
#urlbar-stop-button { display: none !important; }
#star-button { display: none !important; }
 
#identity-box > hbox {
  background-color: transparent !important;
  border-left-width: 0px !important;
  border-right-width: 0px !important;
}

#identity-icon-label {
 display: none !important;
 padding-left: 0
}

.verifiedIdentity {
  background-color: transparent !important;
}

.verifiedDomain {
  background-color: transparent !important;
}

/* Remove tabs */
#tabbrowser-tabs { visibility: collapse !important; } 

/* Tabs: no icons */
.tabbrowser-tabs .tab-icon-image {
  display: none !important;
  }
 
/* Bookmarks Toolbar: Remove icons */
#personal-bookmarks .toolbarbutton-icon {display: none !important;}
 
/* Remove Favorite Star from Titlebar */
#star-button {display:none !important;}
 
/* Remove the Titlebar */
#titlebar {display: none !important;}
 
/* Remove the Titlebar buttons (cleanup of Remove the Titlebar */
#titlebar-buttonbox-container {display:none!important;}
 
/* Adjust Max/Min Tab Widths if using Tabs Toolbar */
.tabbrowser-tab:not([pinned])
{
  max-width: 125px !important;
  min-width: 10px !important;
}
.tabbrowser-tab:not([fadein])
{
 max-width: 1px !important;
 min-width: 1px !important;
 max-width: 1px;
 min-width: 1px;
}
 
/* Remove the Tabs Toolbar */
#TabsToolbar {max-height: 0px !important;}
 
/* ------------------------------Remove Favicons from List Menu------------------------------ */
 
/* This code block does nothing.
#main-window #tabbrowser-tabs tab .tab-throbber
#main-window #tabbrowser-tabs tab .tab-icon-image{
max-height:0px!important;
max-width:0px!important;
margin-top:-2px!important;
}
*/
 
/* default favicon */
#page-proxy-favicon:not(src),
#tabbrowser-tabs .tab-icon-image:not(src),
.sidebar-placesTreechildren::-moz-tree-image(leaf),
.bookmark-item:not(src){
 list-style-image: none !important;
}
 
/* -----------------------------End Favicons------------------------------ */
 
/* ----------------------------- Context Menu ------------------------------ */
 
/* --------------------------------- Link ---------------------------- */
/* Remove Open Link in New Window */
#context-openlink {
 display: none !important;   
}
 
/* Remove Open Link in New Tab */
#context-openlinkintab {
 display: none !important;   
}
 
/* Remove the separator below the "Open Link in ..." items */
#context-sep-open {
 display: none !important;   
}
 
/* Remove Bookmark This Link... */
#context-bookmarklink {
 display: none !important;
}
 
/* Remove Save Link As... */
#context-savelink {
 display: none !important;
}
 
/* Remove Send Link. . .*/
#context-sendlink{
display:none !important;
}
 
/* Remove Copy Email Address */
#context-copyemail {
 display: none !important;   
}
/* Remove Open private window */
#context-openlinkprivate {
        display: none !important;
}
}
 
/* Remove separator below the items related to links */
#context-sep-copylink {
 display: none !important;   
}
/* ------------------------------- End Link ---------------------------- */
 
/* ----------------------------- Images ------------------------------ */
/* Remove View Image */
#context-viewimage {
 display: none !important;   
}
/* Remove separator below the Copy Image Location item */
#context-sep-copyimage {
 display: none !important;   
}
/* Remove Set As Wallpaper (legacy support) */
#context-setWallpaper {
   display: none !important;
}
/* Remove Set as Desktop Background */
#context-setDesktopBackground {
   display: none !important;
}
/* Remove Block Images from this Server */
#context-blockimage {
   display: none !important;
}
/* Remove Email image */
#context-emailimage{
   display: none !important;
}
/* Remove Send image */
#context-sendimage{
   display: none !important;
}
/* -------------------------- End Images ------------------------------ */
 
/* --------------------------- Web Page---------------------------- */
/* Remove Back */
#context-back {
 display: none !important;   
}
/* Remove Forward */
#context-forward {
   display: none !important;
}
/* Remove Reload */
#context-reload {
  display: none !important;   
}
/* Remove Stop */
#context-stop {
   display: none !important;
}
/* Remove separator below the Stop item */
#context-sep-stop {
   display: none !important;
}
 
/* Remove Bookmark This Page... */
#context-bookmarkpage {
   display: none !important;
}
/* Remove Save Page As... */
#context-savepage {
   display: none !important;
}
/* Remove Select All */
#context-selectall  {
  display: none! important;
}
/* Remove View Background Image */
#context-viewbgimage {
   display: none !important;
}
/* Remove separator above the View Background Image link */
#context-sep-viewbgimage {
   display: none !important;
}
/* Remove Send page link */
#context-sendlink {
   display: none !important;
}
/* Remove Send page */
#context-sendpage {
   display: none !important;
}
/* ------------------------- End Web Page---------------------------- */ 

